<h1>formUser</h1>
<form action="">
    <label for="Name">Name</label>
    <input type="text" name="userName">
    <label for="Email">Email</label>
    <input type="text" name="userEmail">
    <label for="Favorite langage">Favorite langage</label>
    <input type="text" name="userFavoriteLangage">
</form>