<h1>formUser</h1>
<form action="">
    <label for="Name"></label>
    <input type="text" name="userName">
    <label for="Email"></label>
    <input type="text" name="userEmail">
    <label for="Favorite langage"></label>
    <input type="text" name="userFavoriteLangage">
</form>