<h1>formUser</h1>

<form action="">
    <label for=""></label>
    <input type="text" name="userName">
    <label for=""></label>
    <input type="text" name="userEmail">
    <label for=""></label>
    <input type="text" name="userFavoriteLangage">
</form>